<span class="input input--yoshiko">
  <input class="input__field input__field--yoshiko" type="text" id="input-1" ng-model="newTask.type_task" required/>
  <label class="input__label input__label--yoshiko " for="input-1">
    <span class="input__label-content input__label-content--yoshiko" data-content="Tipo">Tipo</span>
  </label>
</span>
<span class="input input--yoshiko">
  <input class="input__field input__field--yoshiko" type="number" id="input-1" ng-model="newTask.priority" required/>
  <label class="input__label input__label--yoshiko " for="input-1">
    <span class="input__label-content input__label-content--yoshiko" data-content="Prioridad">Prioridad</span>
  </label>
</span>
<span class="input input--yoshiko">
  <input class="input__field input__field--yoshiko" type="text" id="input-1" ng-model="newTask.description" required/>
  <label class="input__label input__label--yoshiko " for="input-1">
    <span class="input__label-content input__label-content--yoshiko" data-content="Descripcion">Descripcion</span>
  </label>
</span>
<span class="input input--yoshiko">
  <input class="input__field input__field--yoshiko" type="date" id="input-1" ng-model="newTask.finish_date" required/>
  <label class="input__label input__label--yoshiko " for="input-1">
    <span class="input__label-content input__label-content--yoshiko" data-content="Email">Email</span>
  </label>
</span>
<span class="input">
  <input type="submit" value="Agregar" class="btn-submit">
</span>
