<section>
  <div class="container-fluid">
    <article class="row">
      <div class="col-xs-6">
        <main>
          <img src="images/flat-pc2.png">
          <h3 class=" text-center">Cocinar</h3>  
          <span class=" text-center"><em>8:00</em> AM</span>
          <span><p>Full descripcion en este lugar de la pagina</p></span>
          <span>tipo de actividad : Utilidades</span>
          <span> prioridad </span>    
        </main>
      </div>
      <!-- Task container -->
      <div class="col-xs-6 task-container">
        <ul>
          <li>
            <blockquote>
              <img src="images/flat-pc2.png">
              <h3 class=" text-center">Cocinar</h3>  
              <span class=" text-center"><em>8:00</em> AM</span>                                   
            </blockquote>
          </li>   
          <li>
            <blockquote>
              <img src="images/flat-pc2.png">
              <h3 class=" text-center">Estudiar Angular</h3>
              <span class=" text-center"><em>8:00</em> AM</span>
            </blockquote>
          </li>  
          <li>
            <blockquote>
              <img src="images/flat-pc2.png">
              <h3 class=" text-center">Aprender sobre Node.js</h3>
              <span class=" text-center"><em>8:00</em> PM</span>
            </blockquote>
          </li>  
          <li>
            <blockquote>
              <img src="images/flat-pc2.png">
              <h3 class=" text-center">Practicar cosas utiles</h3>
              <span class=" text-center"><em>8:00</em> PM </span>
            </blockquote>
          </li>  
        </ul>
      </div>

    </article>   
  </div>
</section>
